# gencodegenes code
include MANIFEST.in
include pyproject.toml
include src/gencodegenes/*.cpp
include src/gencodegenes/*.py
include src/gencodegenes/*.pyx
include src/gencodegenes/*.pxd
include src/*.h
include src/*.cpp
include src/gzstream/gzstream.C
include src/gzstream/gzstream.h

# gencodegenes tests
include tests/*.py
include tests/data/*.fa
include tests/data/*.gtf
