# gencodegenes code
include MANIFEST.in
include pyproject.toml
include src/gencodegenes/*.cpp
include src/gencodegenes/*.py
include src/gencodegenes/*.pyx
include src/gencodegenes/*.pxd
include src/gencodegenes/*.pyi
include src/gencodegenes/py.typed
include src/*.h
include src/*.cpp

graft src/zlib-ng
prune src/zlib-ng/test
prune src/zlib-ng/.github
exclude src/zlib-ng/.git

# gencodegenes tests
include tests/*.py
include tests/data/*.fa
include tests/data/*.gtf
