# genecodegenes code
include MANIFEST.in
include pyproject.toml
include genecodegenes/*.cpp
include genecodegenes/*.py
include genecodegenes/*.pyx
include genecodegenes/*.pxd
include src/*.h
include src/*.cpp
include src/gzstream/gzstream.C
include src/gzstream/gzstream.h
include data/*.txt

# genecodegenes tests
include tests/*.py
